/* Table of Contents */

/*
  * PAGE'S HEADER
    ** Top Navigation Bar
    ** Second Navigation Bar
    ** Media Query 1000px
    ** Media Query 780px
  * FRONT PAGE NEWS SECTION
    ** Featured Article
    ** Main Article
    ** Media Query 1000px
    ** Media Query 780px
  * LATEST NEWS SECTION
*/

html {
  box-sizing: border-box;

  font-size: 14px;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;

  background-color: #efefef;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*
* Page's Header
*/

.header {
  position: sticky;
  top: -34px;
  z-index: 2;

  display: grid;
  grid-template-columns: auto;
}

.header_sticky { grid-template-columns: auto 1fr; }

.main-page-link {
  display: none;
  grid-row: span 2;
  align-items: center;
  padding: 0 20px;

  background-color: #000;
}

.main-page-link_sticky { display: flex; }

.main-page-logo {
  width: 70px;

  transition: margin .3s ease-out;
}

.main-page-logo_sticky {
  margin-top: 30px;
}

/* Top Navigation Bar */
.nav-bar { background-color: #000; }

.nav-bar__list {
  display: flex;

  margin: 0;
  padding: 0 12px;

  list-style: none;
}

/* For accessibility reasons */
li::before { content: '\200B'; }

.nav-bar__list-item {
  position: relative;

  padding: 5px 6px;
}

.nav-bar__link {
  color: #999;
  font-size: .95rem;
  text-decoration: none;
}

.nav-bar__link:hover { color: #fff; }

.nav-bar__about-item { margin-left: auto; }

.nav-bar__sub-list {
  position: absolute;
  z-index: 1;

  padding: 0;

  list-style: none;
  transform: translateY(0);

  transition: transform .3s;
}

.nav-bar__sub-list_hidden {
  transform: translateY(25px);
  visibility: hidden;
}

.nav-bar__sub-list-triangle {
  position: absolute;
  top: -2px;
  left: 30px;

  width: 13px;
  height: 13px;

  background-color: #000;
  transform: rotate(45deg);
}

.nav-bar__sub-list-item {
  display: flex;
  width: 220px;

  background-color: #000;
}

.nav-bar__sub-link {
  display: block;
  flex-basis: 100%;
  padding: 7px 0 7px 15px;
}

.nav-bar__sub-list-item1 {
  border-bottom: 1px solid #1f1f1f;
}

/* Second Navigation Bar */
.news-nav-bar__list {
  display: flex;
  align-items: center;

  margin: 0;
  padding-left: 10px;

  list-style: none;
  background-color: #fff;
}

.news-nav-bar__list-item {
  display: flex;
  align-items: center;
}

.news-nav-bar__link {
  display: inline-block;
  padding: 14px 10px;

  color: #aaa;
  font-size: .95rem;
  text-transform: uppercase;
  text-decoration: none;
}

.news-nav-bar__link:hover { color: #000; }

.news-nav-bar__right-list-item { margin-left: auto; }

.news-nav-bar__last-list-item { display: none; }

.news-nav-bar__btn {
  width: 50px;
  padding: 12px;

  background-color: transparent;
  border: none;
  border-left: 1px solid #eee;
}

.news-nav-bar__icon {
  color: #c2c2c2;
  font-size: 1.2rem;

  transform: scale(-1, 1);
}

.news-nav-bar__menu-icon { color: #f42; }

.news-nav-bar__btn:hover { cursor: pointer; }

.news-nav-bar__btn:hover .news-nav-bar__icon {
  color: #666;
}

.news-nav-bar__btn:hover .news-nav-bar__menu-icon {
  color: #f42;
}

@media (max-width: 1000px) {
  .header { grid-template-columns: auto 1fr; }

  .nav-bar__link { font-size: .92rem; }

  .main-page-link { display: flex; }
}

@media (max-width: 780px) {
  .header {
    position: sticky;
    top: 0;
  }

  .nav-bar { display: none; }

  .main-page-logo_sticky { margin-top: 0; }

  .news-nav-bar__list-item { display: none; }

  .news-nav-bar__right-list-item { display: block; }

  .news-nav-bar__last-list-item { display: block; }

  .news-nav-bar__btn { padding: 14px 12px; }
}

/*
* Front Page News Section
*/

.front-page-news {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(3, 1fr);

  height: 75vh;
  margin: 8px;
}

/* Featured Article */
.featured-article {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px 15px;

  background-position: center;
  background-size: cover;
  opacity: 1;

  transition: opacity .3s ease;
}

.featured-article:hover { opacity: .95; }

.featured-article__section-link {
  z-index: 1;

  align-self: flex-start;

  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.featured-article__title {
  z-index: 1;

  margin-top: 0;
  margin-bottom: 12px;

  font-size: 2rem;

  line-height: 1;
}

.featured-article__article-link {
  color: #fff;
  text-decoration: none;
}

.featured-article__info {
  z-index: 1;

  display: flex;

  color: #999;
  font-size: .9rem;
}

.featured-article__info > * {
  margin: 0 5px;
}

.featured-article__author { font-style: normal; }

.featured-article__author-link {
  color: #999;
  text-decoration: none;
}

.featured-article__author-link:hover { color: #fff; }

.featured-article__date-icon { font-size: 1rem; }

.featured-article__shared-number { margin: 0; }

.featured-article__cover-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* Main Article */
.main-article {
  position: relative;

  grid-row: span 2;
  grid-column: span 2;

  background-image:
    linear-gradient(165deg, #ff420a, 49%, transparent),
    linear-gradient(transparent, #000),
    url("../assets/images/main-article.png");
}

.main-article__site-logo {
  max-width: 50%;
  height: 100%;

  background-image: url("../assets/images/logo.svg");
  background-repeat: no-repeat;
}

.main-article__time {
  position: absolute;
  top: 10px;
  right: 20px;

  color: #fff;
}

.main-article__title { font-size: 4rem; }

.featured-article1 {
  background-image:
    linear-gradient(transparent, #000),
    url("../assets/images/covid-article.jpg");
}

.featured-article2 {
  background-image:
    linear-gradient(transparent, #000),
    url("../assets/images/youtube-article.png");
}

@media (max-width: 1000px) {
  .front-page-news { height: 60vh; }

  .featured-article { padding: 15px 10px; }

  .featured-article__title {
    margin-bottom: 6px;

    font-size: 1.5rem;
  }

  .main-article {
    background-image:
      linear-gradient(transparent, #000),
      url("../assets/images/main-article.png");
  }

  .main-article__site-logo { display: none; }

  .main-article__time { display: none; }

  .main-article__title { font-size: 3rem; }
}

@media (max-width: 780px) {
  .front-page-news {
    grid-template-columns: 1fr;
    height: auto;
  }

  .main-article { grid-column: span 1; }

  .main-article__title { font-size: 1.5rem; }

  .featured-article { min-height: 30vh; }

  .featured-article__section-link { font-weight: normal; }
}

/*
* Latest News Section
*/
