/* Table of Contents */

/*
  * PAGE'S HEADER
    ** Top Navigation Bar
    ** Second Navigation Bar
    ** Media Query 1000px
    ** Media Query 780px
  * FRONT PAGE NEWS SECTION
    ** Featured Article
    ** Main Article
    ** Media Query 1000px
    ** Media Query 780px
  * LATEST NEWS SECTION
    ** General
    ** Latest News
    ** Media Query 1000px
    ** Media Query 780px
  * INVESTING SECTION
    ** Companies
    ** Media Query 1000px
    ** Media Query 780px
  * NEWS BY CATEGORY SECTION
    ** Main Article
    ** Main Article -- Bg Images
    ** Latest Article
    ** Other Articles
    ** Media Query 1000px
    ** Media Query 780px
*/

html {
  box-sizing: border-box;

  font-size: 14px;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;

  background-color: #efefef;
}

a {
  font-style: normal;
  text-decoration: none;
}

address {
  font-style: normal;
}

ul {
  padding-left: 0;

  list-style: none;
}

/* For accessibility reasons */
li::before { content: '\200B'; }

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*
* Page's Header
*/

.header {
  position: sticky;
  top: -34px;
  z-index: 2;

  display: grid;
  grid-template-columns: auto;
}

.header_sticky { grid-template-columns: auto 1fr; }

.main-page-link {
  display: none;
  grid-row: span 2;
  align-items: center;
  padding: 0 20px;

  background-color: #000;
}

.main-page-link_sticky { display: flex; }

.main-page-logo {
  width: 70px;

  transition: margin .3s ease-out;
}

.main-page-logo_sticky {
  margin-top: 30px;
}

/* Top Navigation Bar */
.nav-bar { background-color: #000; }

.nav-bar__list {
  display: flex;

  margin: 0;
  padding: 0 12px;
}

.nav-bar__list-item {
  position: relative;

  padding: 5px 6px;
}

.nav-bar__link {
  color: #999;
  font-size: .95rem;
}

.nav-bar__link:hover { color: #fff; }

.nav-bar__about-item { margin-left: auto; }

.nav-bar__sub-list {
  position: absolute;
  z-index: 1;

  padding: 0;

  transform: translateY(0);

  transition: transform .3s;
}

.nav-bar__sub-list_hidden {
  transform: translateY(25px);
  visibility: hidden;
}

.nav-bar__sub-list-triangle {
  position: absolute;
  top: -2px;
  left: 30px;

  width: 13px;
  height: 13px;

  background-color: #000;
  transform: rotate(45deg);
}

.nav-bar__sub-list-item {
  display: flex;
  width: 220px;

  background-color: #000;
}

.nav-bar__sub-link {
  display: block;
  flex-basis: 100%;
  padding: 7px 0 7px 15px;
}

.nav-bar__sub-list-item1 {
  border-bottom: 1px solid #1f1f1f;
}

/* Second Navigation Bar */
.news-nav-bar__list {
  display: flex;
  align-items: center;

  margin: 0;
  padding-left: 10px;

  background-color: #fff;
}

.news-nav-bar__list-item {
  display: flex;
  align-items: center;
}

.news-nav-bar__link {
  display: inline-block;
  padding: 14px 10px;

  color: #aaa;
  font-size: .95rem;
  text-transform: uppercase;
}

.news-nav-bar__link:hover { color: #000; }

.news-nav-bar__right-list-item { margin-left: auto; }

.news-nav-bar__last-list-item { display: none; }

.news-nav-bar__btn {
  width: 50px;
  padding: 12px;

  background-color: transparent;
  border: none;
  border-left: 1px solid #eee;
}

.news-nav-bar__icon {
  color: #c2c2c2;
  font-size: 1.2rem;

  transform: scale(-1, 1);
}

.news-nav-bar__menu-icon { color: #f42; }

.news-nav-bar__btn:hover { cursor: pointer; }

.news-nav-bar__btn:hover .news-nav-bar__icon {
  color: #666;
}

.news-nav-bar__btn:hover .news-nav-bar__menu-icon {
  color: #f42;
}

@media (max-width: 1000px) {
  .header { grid-template-columns: auto 1fr; }

  .nav-bar__link { font-size: .92rem; }

  .main-page-link { display: flex; }
}

@media (max-width: 780px) {
  .header {
    position: sticky;
    top: 0;
  }

  .nav-bar { display: none; }

  .main-page-logo_sticky { margin-top: 0; }

  .news-nav-bar__list-item { display: none; }

  .news-nav-bar__right-list-item { display: block; }

  .news-nav-bar__last-list-item { display: block; }

  .news-nav-bar__btn { padding: 14px 12px; }
}

/*
* Front Page News Section
*/

.front-page-news {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(3, 1fr);

  height: 75vh;
  margin: 8px;
}

/* Featured Article */
.featured-article {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px 15px;

  background-position: center;
  background-size: cover;
  opacity: 1;

  transition: opacity .3s ease;
}

.featured-article:hover { opacity: .95; }

.featured-article__section-link {
  z-index: 1;

  align-self: flex-start;

  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.featured-article__title {
  z-index: 1;

  margin-top: 0;
  margin-bottom: 12px;

  font-size: 2rem;

  line-height: 1;
}

.featured-article__article-link {
  color: #fff;
}

.featured-article__info {
  z-index: 1;

  display: flex;

  color: #999;
  font-size: .9rem;
}

.featured-article__info > * {
  margin: 0 5px;
}

.featured-article__author-link {
  color: #999;
}

.featured-article__author-link:hover { color: #fff; }

.featured-article__date-icon { font-size: 1rem; }

.featured-article__shared-number { margin: 0; }

.featured-article__cover-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* Main Article */
.main-article {
  position: relative;

  grid-row: span 2;
  grid-column: span 2;

  background-image:
    linear-gradient(165deg, #ff420a, 49%, transparent),
    linear-gradient(transparent, #000),
    url("../assets/images/main-article.png");
}

.main-article__site-logo {
  max-width: 50%;
  height: 100%;

  background-image: url("../assets/images/logo.svg");
  background-repeat: no-repeat;
}

.main-article__time {
  position: absolute;
  top: 10px;
  right: 20px;

  color: #fff;
}

.main-article__title { font-size: 4rem; }

.featured-article1 {
  background-image:
    linear-gradient(transparent, #000),
    url("../assets/images/covid-article.jpg");
}

.featured-article2 {
  background-image:
    linear-gradient(transparent, #000),
    url("../assets/images/youtube-article.png");
}

@media (max-width: 1000px) {
  .front-page-news { height: 60vh; }

  .featured-article { padding: 15px 10px; }

  .featured-article__title {
    margin-bottom: 6px;

    font-size: 1.5rem;
  }

  .main-article {
    background-image:
      linear-gradient(transparent, #000),
      url("../assets/images/main-article.png");
  }

  .main-article__site-logo { display: none; }

  .main-article__time { display: none; }

  .main-article__title { font-size: 3rem; }
}

@media (max-width: 780px) {
  .front-page-news {
    grid-template-columns: 1fr;
    height: auto;
  }

  .main-article { grid-column: span 1; }

  .main-article__title { font-size: 1.5rem; }

  .featured-article { min-height: 30vh; }

  .featured-article__section-link { font-weight: normal; }
}

/*
* Latest News Section
*/

/* General */
.section {
  margin: 70px 60px;
}

.section__title {
  grid-column: 1 / -1;
  margin: 0;

  line-height: 1;
}

.section__link {
  color: #f42;
  font-size: 1.8rem;
}

.section__link:hover {
  color: #000;
}

.section__icon {
  font-size: 1.2rem;
}

@media (max-width: 1200px) {
  .section {
    margin-right: 20px;
    margin-left: 20px;
  }
}

/* Latest News */
.latest-news {
  display: grid;
  grid-gap: 20px 25px;
  grid-template-columns: repeat(4, 1fr);
}

.latest-article__img {
  width: 100%;
  object-fit: cover;
}

.latest-article__picture-wrapper {
  max-height: 125px;
  overflow: hidden;
}

.latest-article__article-link {
  color: #000;
}

.latest-article__article-link:hover {
  color: #f42;
  text-decoration: underline #ccc;
}

.latest-article__title {
  margin: 5px 0;

  line-height: 1.2;
}

.latest-article__info {
  display: flex;
  flex-wrap: wrap;

  color: #aaa;
  font-size: .9rem;
}

.latest-article__author-link {
  color: #aaa;
  font-size: .95rem;
}

.latest-article__author-link:hover {
  color: #666;
}

.latest-article__cosmic-companion-link {
  font-size: .85rem;
}

.latest-article__author {
  margin-right: 2px;
}

.latest-article__date {
  margin-left: 3px;

  font-size: .95rem;
}

.latest-article__date::before {
  margin-right: 3px;

  content: '•';
}

@media (max-width: 1000px) {
  .latest-news { grid-template-columns: repeat(3, 1fr); }

  .latest-article__title {
    font-size: 1rem;
    line-height: 1.3;
  }

  .latest-article__author-link { font-size: .85rem; }

  .latest-article__info { font-size: .85rem; }
  .latest-article__date { font-size: .85rem; }
}

@media (max-width: 780px) {
  .latest-news { grid-template-columns: 1fr; }

  .latest-article {
    display: grid;
    grid-gap: 0 12px;
    grid-template-columns: auto 1fr;
  }

  .latest-article__title { margin: 0; }

  .latest-article__img-link { grid-row: span 2; }

  .latest-article__picture-wrapper {
    width: 75px;
    height: 75px;
  }

  .latest-article__img { height: 100%; }

  .latest-article__info { margin-bottom: 30px; }

  .latest-article__date {
    margin-left: 0;
  }
}

/*
* Investing Section
*/

.investing {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(4, 1fr);
}

.investing__header {
  display: flex;
  grid-column: 1 / -1;
  align-items: center;
  justify-content: space-between;
}

.investing__title { font-size: 2.2rem; }

.investing__link-list {
  display: flex;
  margin: 0;
  margin-top: 3px;
}

.investing__link-list-item {
  display: flex;
  align-items: center;

  color: #f42;
}

.investing__link-list-item:nth-last-child(n+2)::after {
  margin: 0 10px;

  content: "|";
}

.investing__nav-link {
  color: #f42;
  font-size: 1.2rem;
}

.investing__nav-link:hover {
  color: #000;
}

/* Company to invest in */
.company {
  padding: 10px;

  background-image: linear-gradient(#f42 0 40px, #ffebe7 40px 38%, #fffaf8 38%);
}

.company__link {
  display: grid;
  grid-gap: 0 15px;
  grid-template-columns: auto 1fr;
}

.company__picture { grid-row: span 2; }

.company__img {
  width: 60px;
  height: 60px;
}

.company__name {
  margin: 0;

  color: #fff;
}

.company__money {
  align-self: center;
  margin: 0;

  color: #000;
  font-weight: bold;
  font-size: 1.12rem;
  line-height: 1.1;
}

.company__round {
  grid-column: 2;
  margin: 0;

  color: #666;
  font-size: .85rem;
  text-transform: uppercase;
}

.company__info-list {
  margin: 0;
  margin-top: 25px;
}

.company__info-list::after {
  display: block;
  width: 100%;
  height: 1px;
  margin: 12px 0;

  background-color: #ffcdc2;

  content: '';
}

.company__info-item { margin: 7px 0; }

.company__info-link {
  color: #555;
  font-size: .95rem;
}

.company__info-link:hover { color: #000; }

.company__info-icon {
  margin-right: 10px;

  color: #000;
  font-size: 1.1rem;
}

.company__description-link {
  margin-bottom: 10px;

  color: #555;
  font-size: .85rem;
}

.company__quote { quotes: none; }

.company__description-source {
  display: inline-block;

  color: #aaa;
}

@media (max-width: 1000px) {
  .investing {
    grid-column-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }

  .investing__header {
    flex-direction: column;
    align-items: flex-start;
  }

  .investing__nav-bar { margin-top: 10px; }

  .company { background-image: linear-gradient(#f42 0 40px, #ffebe7 40px 40%, #fffaf8 40%); }

  .last-company { display: none; }

  .company__name { font-size: 1.3rem; }

  .company__money { font-size: 1.2rem; }

  .company__round { font-size: .8rem; }
}

@media (max-width: 780px) {
  .investing { grid-template-columns: 1fr; }

  .investing__link-list { flex-direction: column; }

  .investing__link-list-item { margin: 3px 0; }

  .investing__link-list-item:nth-last-child(n+2)::after {
    content: none;
  }

  .investing__nav-link { font-size: 1rem; }

  .company { background-image: linear-gradient(#f42 0 40px, #ffebe7 40px 45%, #fffaf8 45%); }
}

/*
* News By Category
*/

.news-by-category {
  display: grid;
  grid-gap: 50px 25px;
  grid-template-columns: repeat(3, 1fr);
}

.category__title {
  margin-bottom: 15px;
}

/* Main Article */
.category__main-article {
  height: 42vh;
}

.category__main-article:hover { opacity: 1; }

.category__main-article-section-link {
  font-size: .9rem;
  text-transform: uppercase;
}

.category__main-article-title {
  margin-top: 3px;
  margin-bottom: 6px;

  font-size: 1rem;
}

.category__main-article-title:hover {
  text-decoration: underline #ccc;
}

.category__main-article-title-link {
  font-size: 1.4rem;
}

/* Main Articles -- BgImages */
.category__main-article1 {
  background-image:
    linear-gradient(transparent, #000),
    url("../assets/images/zucker.jpeg");
}

.category__main-article2 {
  background-image:
    linear-gradient(transparent, #000),
    url("../assets/images/spotify2020.png");
}

.category__main-article3 {
  background-image:
    linear-gradient(transparent, #000),
    url("../assets/images/black-iphone.png");
}

/* Latest Article */
.category__latest-article {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-left: 15px;
}

.category__latest-article-links {
  margin-top: 5px;
}

.category__latest-article-section-link {
  color: #f42;
  font-weight: normal;
}

.category__latest-article-title {
  margin: 0;
  margin-right: 15px;

  font-size: .85rem;
}

.category__latest-article-title:hover {
  text-decoration: underline #ccc;
}

.category__latest-article-link {
  color: #f42;
  font-size: 1rem;
  line-height: 1.1;
}

.category__latest-article__img {
  width: 96px;
  height: 96px;
  object-fit: cover;
}

.category__main-article-author {
  margin-left: 0;
}

/* Other Articles */
.category__other-article-title {
  margin: 0;
  padding-top: 7px;
  padding-bottom: 7px;

  font-weight: normal;
  font-size: .92rem;

  border-bottom: 1px solid #e0e0e0;
}

.category__other-article-link {
  display: flex;

  color: #444;
}

.category__other-article-link:hover {
  color: #000;
}

.category__other-article-link::before {
  display: block;
  margin-right: 8px;

  color: #f32;

  content: "•";
}

@media (max-width: 1000px) {
  .news-by-category {
    grid-gap: 50px 20px;
    grid-template-columns: repeat(2, 1fr);
  }

  .category__main-article {
    height: 55vh;
  }
}

@media (max-width: 780px) {
  .news-by-category {
    /* grid-gap: 50px 20px; */
    grid-template-columns: 1fr;
  }

  .category__main-article {
    max-height: 82vh;
  }
}
